*{
  padding: 0px;
  margin: 0px;
  border:none;
  box-sizing: border-box;
  font-size: large;
  
}
body{
  background-color: rgba(0, 0, 0, 0.200);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calc{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #e7e6e6;
  border: 3px solid #bbb;
  border-radius: 5px;
  

}
.div_nome{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;

}

.div_teclas{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  flex-wrap: wrap;

}
.teclas{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #aaa;
  border: 3px solid #888;
  border-radius: 10px;
  font-weight: bold;
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin: 2px;
}
.teclas:hover{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
  border: 3px solid #888;
  border-radius: 10px;
  font-weight: bold;
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin: 2px;

}
.teclasOp{
  background-color: #f44 !important;
  border-color: #800 !important;

}
.teclasOp:hover{
  background-color: #f55 !important;
}

/* DISPLAY */

.div_display{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 220px;
}
.display{
  width: 220px;
  background-color: #8a8;
  text-align: right;
  padding: 5px;
  font-family: monospace;
  font-size: large;

}
